@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap");

:root {
  --pr-color: #fc6ca9;
}

* {
  font-family: "Inter", sans-serif;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 10%);
 
}
body {
  @apply relative max-w-full max-h-full;
  color: #094067;
  background: #fffffe;
}

p {
  color: #5f6c7b;
  font-weight: 500;
  font-size: 18px;
}

section {
  @apply relative max-w-full min-h-screen;
}

.shadowCostum {
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 25%);
}

.shadowGridImage {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 25%);
}

.shadow-image {
 filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 70%));
}
